.Spreadsheet {
  margin: 1em;
  --border: 1px solid #ddd;
  --cellWidth: 60px;
  --cellHeight: 20px;
  --labelWidth: 35px;
}

.Spreadsheet .row input.col {
  width: var(--cellWidth);
  height: var(--cellHeight);
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  border: var(--border);
  border-top: none;
  border-left: none;
}

.Spreadsheet div:nth-child(2) input.col {
  /* 2nd child: first row of cells */
  border-top: var(--border);
}

.Spreadsheet .row input.col:first-of-type {
  border-left: var(--border);
}

.Spreadsheet .row input.col.isFocused {
  background-color: #fdfdda;
}

.Spreadsheet .row input.col.formulaError {
  background-color: #f9abab;
}

.Spreadsheet .label {
  box-sizing: border-box;
  background-color: #efefef;
  font-size: 12px;
  line-height: var(--cellHeight);
}

.Spreadsheet .row .rowLabel {
  display: inline-block;
  width: var(--labelWidth);
  text-align: center;
}

.Spreadsheet .columnLabels {
  margin-left: var(--labelWidth);
}

.Spreadsheet .columnLabels .colLabel {
  display: inline-block;
  width: var(--cellWidth);
  text-align: center;
}
